.inpage header {
  border-bottom: 1px solid #000;
}
.inpage .content {
  margin-top: 32px;
  margin-bottom: 64px;
}
@media (max-width: 991.98px) {
  .inpage {
    border-bottom: unset;
  }
}

.simple-page {
  padding-right: 32px;
  padding-left: 32px;
}
.simple-page__header {
  display: flex;
  justify-content: center;
  align-content: baseline;
  margin-bottom: 24px;
}
@media (max-width: 991.98px) {
  .simple-page {
    padding-right: 0;
    padding-left: 0;
  }
}

.button.desctive {
  opacity: 0.2;
  cursor: none;
}

.about-page.content {
  margin-top: 0;
}
.about-page__pic {
  margin-top: 40px;
  margin-bottom: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.our-branch .simple-page__content {
  padding-right: 32px;
  padding-left: 32px;
}
.our-branch .about-page__info {
  align-items: unset;
  gap: 16px;
  margin-bottom: 32px;
}
.our-branch .about-page__info .bordered {
  width: 2px;
  background: #000;
  height: unset;
}
.our-branch .about-page__map .map {
  aspect-ratio: 1/1;
  width: 656px;
  max-width: 100%;
  height: auto;
}
.our-branch .about-page__map .map img {
  min-width: 100%;
}
.our-branch__seperate {
  height: 140px;
}
.our-branch__seperate .seperate {
  height: 100%;
  background-image: url("../img/v-border-5.svg");
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 991.98px) {
  .our-branch__seperate {
    position: relative;
  }
  .our-branch__seperate .seperate {
    position: absolute;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }
  .our-branch .simple-page {
    padding-right: 0px;
    padding-left: 0px;
  }
  .our-branch .simple-page__content {
    padding-right: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 575.98px) {
  .our-branch .about-page__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  .our-branch .about-page__info .bordered {
    width: 100%;
    height: 2px;
  }
}

.guide-start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.guide-start__pic {
  position: relative;
  margin-bottom: 18px;
}
.guide-start__pic img {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  overflow: hidden;
}
.guide-start__pic .notif {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 4px solid #fff;
  position: absolute;
  background-color: #48FDBC;
  left: 0;
  top: 0;
}
.guide-start__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 24px;
}
.guide-start__content .label {
  margin-right: auto;
  margin-left: auto;
}
.guide-start__content .label::before {
  height: 4px;
  top: 68%;
}
.guide-start__actions {
  display: flex;
  justify-content: center;
  align-items: center;
}
.guide-start__actions .button {
  width: 166px;
}

.question-item {
  border: unset;
  border-radius: 0;
}
.question-item:not(:last-child) {
  border-bottom: 2px solid #000;
}
.question-item .card-header {
  background-color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: unset;
  gap: 10px;
}
@media (max-width: 575.98px) {
  .question-item .card-header {
    padding: 16px;
  }
}
.question-item .arrow {
  flex-shrink: 0;
}
.question-item .card-body {
  margin: 0;
  padding: 0;
  padding-right: 16px;
  padding-left: 16px;
  margin-bottom: 16px;
}
.question-item__title button {
  background-color: unset;
  border: none;
  outline: unset !important;
  text-align: right;
}
.question-item .reverse {
  transform: rotate(180deg);
}
@media (max-width: 991.98px) {
  .question-item .card-header,
  .question-item .card-body {
    padding-right: 0;
    padding-left: 0;
  }
}

.faq__questions {
  padding-right: 32px;
  padding-left: 32px;
}
.faq .our-branch__seperate {
  height: 80px;
}
@media (max-width: 991.98px) {
  .faq__questions {
    padding-right: 0;
    padding-left: 0;
  }
}

.bell-guide-page .container {
  max-width: 744px;
}
.bell-guide-page .our-branch__seperate {
  margin-top: 24px;
  margin-bottom: 24px;
}
.bell-guide-page .our-branch__guide-start {
  margin-bottom: 56px;
}
.bell-guide-page__header {
  margin-bottom: 56px;
}
.bell-guide-page__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.support-page__body {
  padding-bottom: 0 !important;
}
.support-page__body .main-menu {
  display: none !important;
}

.support {
  margin-top: 0;
}
.support-page {
  background-color: #F5F6F7;
}
.support-page .main-menu {
  margin-bottom: 0;
}
.support-page .content {
  margin-top: 0 !important;
}
.support-page .content .container {
  width: 768px;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
}
.support-page .content .container .row {
  width: 100%;
}
.support-page header {
  background-color: #fff;
}
.support-header {
  display: flex;
  align-items: center;
  padding: 20px 0;
  gap: 32px;
}
.support-header__content {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.support-header__content .title {
  color: #000000;
}
.support-header__content .time {
  color: #344054;
}
.support__voice {
  background: #48FDBC;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}
.support-voice {
  display: flex;
  align-items: center;
  height: 40px;
  gap: 32px;
}
.support-voice button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: unset;
  border: unset;
  padding: 0;
  margin: 0;
}
.support-voice__speed {
  border-radius: 4px;
  border: 1.5px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 4px;
  width: 24px;
  height: 20px;
  opacity: 0.3;
}
.support-voice__stat {
  margin-right: auto;
}
.support__content .scrollbar {
  padding-top: 40px;
  height: calc(100vh - 274px);
}
.support-textarea {
  position: relative;
  max-width: 100vw;
  width: 100%;
  border: 2px solid #000;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.support-textarea textarea {
  border-bottom: unset;
  width: 100%;
  border-radius: 16px 16px 0 0;
  height: 72px;
  padding: 24px 24px;
  padding-right: 72px;
  border: unset;
  resize: none;
  color: #000;
}
.support-textarea .voice {
  position: absolute;
  right: 24px;
  top: 50%;
  transform: translateY(-50%);
  background: unset;
  border: unset;
}
.support__textarea {
  position: fixed;
  bottom: 27px;
  left: 50%;
  transform: translateX(-50%);
}
.support__chat {
  display: flex;
  flex-direction: column;
  padding-right: 16px;
  padding-left: 16px;
  justify-content: flex-end;
}
.support__chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}
.support__chat .chat-item:last-child {
  margin-bottom: 32px;
}
@media (max-width: 991.98px) {
  .support-page footer {
    display: none;
  }
  .support-page .header,
  .support-page .main-menu {
    display: none !important;
  }
  .support-page .container {
    max-width: 100vw;
  }
  .support-page .row {
    margin-right: auto;
    margin-left: auto;
  }
  .support__chat {
    padding-right: 0;
    padding-left: 0;
  }
  .support__content .scrollbar {
    padding-top: 40px;
    height: calc(100vh - 220px);
  }
  .support__textarea {
    bottom: 0px;
  }
  .support__textarea .container {
    padding-right: 0;
    padding-left: 0;
    max-width: 100vw;
  }
  .support__textarea .row {
    margin-right: 0;
    margin-left: 0;
    width: 100%;
  }
  .support__textarea .col-12 {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (max-width: 575.98px) {
  .support-page .col-12 {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }
  .support__textarea {
    width: 100vw;
    padding-right: 0;
    padding-left: 0;
  }
  .support__content .scrollbar {
    padding-top: 40px;
    height: calc(100vh - 125px);
    padding-bottom: 100px;
  }
  .support__chat {
    padding-right: 0;
    padding-left: 0;
  }
}

.support-textarea.active textarea {
  padding-right: 144px;
}
@media (max-width: 991.98px) {
  .support-textarea.active textarea {
    padding-right: 109px;
  }
}
.support-textarea.active > span {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 14px;
  padding-left: 4px;
  color: #000;
}
.support-textarea.active > span .circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #FF0000;
}
.support-textarea.active .voice {
  width: 113px;
  height: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #48FDBC;
  border: 2px solid #000;
  right: -20px;
  bottom: -20px;
}
@media (max-width: 991.98px) {
  .support-textarea.active .voice {
    width: 91px;
    height: 91px;
    right: -12px;
    bottom: -12px;
  }
}

.chat-item {
  background-color: #fff;
  border: 2px solid #000;
  width: 269px;
  padding: 12px 16px;
  padding-bottom: 4px;
  border-radius: 12px;
}
.chat-item__time {
  color: #00B673 !important;
}
.chat-item.right {
  margin-left: auto;
  background-color: #E6FFF6;
}
.chat-item.left {
  margin-right: auto;
}
.chat-item .plyr__controls__item {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chat-item .audio {
  margin-bottom: -18px;
}
.chat-item .audio .plyr__controls {
  padding: 0 !important;
  background: unset !important;
  border: unset !important;
}
.chat-item .audio .plyr {
  border: unset;
  background: unset;
}
.chat-item .plyr__controls__item.plyr__control {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #48FDBC;
  border: 2px solid #000;
  display: flex;
}
.chat-item .plyr__controls__item.plyr__control svg {
  color: #000;
}
.chat-item .plyr__controls__item.plyr__progress__container {
  padding-left: 15px;
}
.chat-item input {
  background-color: #000000;
  height: 1px !important;
  opacity: 0;
}
.chat-item .audio .plyr--audio .plyr__progress__buffer {
  background-color: #000000;
  height: 1px;
}
.chat-item .plyr__controls__item.plyr__time--current.plyr__time {
  position: absolute;
  bottom: -17px;
  left: 50px;
  font-size: 8px;
  color: #00B673;
}

.date-item {
  background: #000000;
  padding: 2px 12px;
  height: 30px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
}

.banners {
  margin-bottom: 64px;
}
.banners .flickity-page-dots {
  bottom: -40px;
}
.banners__cell {
  margin-right: 24px;
  margin-left: 24px;
  width: calc(50% - 24px);
}
.banners__item {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
.banners__content {
  position: absolute;
  padding: 2px 12px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 12px;
  bottom: 42px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  max-width: calc(100% - 48px);
}
.banners__content span {
  min-width: -moz-max-content;
  min-width: max-content;
  display: block;
}
.banners__pic {
  width: 100%;
  aspect-ratio: 456/228;
}
@media (max-width: 991.98px) {
  .banners__cell {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .banners__content span {
    font-size: 20px;
  }
}

.bellshop-page {
  margin-top: 15px !important;
}
.bellshop-page__header {
  margin-bottom: 24px;
}
.bellshop-page .alert-item {
  margin-top: 80px;
  margin-bottom: 80px;
}
@media (max-width: 991.98px) {
  .bellshop-page .alert-item {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.product-sec__tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin-bottom: 56px;
}
.product-sec__tab {
  position: relative;
  width: 76px;
  text-align: center;
}
.product-sec__tab a {
  display: flex;
  border-radius: 50px 50px 12px 12px;
  flex-direction: column;
  padding: 0px;
  padding-bottom: 12px;
  padding-top: 20px;
  border: 2px solid transparent;
  gap: 8px;
}
.product-sec__tab a.active {
  border-color: #000;
  background-color: #48FDBC;
}
.product-sec__tab a:hover {
  color: #000;
  border-color: #000;
  background-color: #48FDBC;
}
.product-sec__tab img {
  height: 32px;
}
.product-sec__list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-right: 42px;
  padding-left: 42px;
}
.product-sec__list .product-item {
  width: 156px;
}
.product-sec__actions {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-sec__payment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.product-sec__payment .amount {
  display: flex;
  align-items: center;
  gap: 24px;
}
.product-sec__payment .button {
  max-width: 240px;
}
@media (max-width: 1199.98px) {
  .product-sec__list {
    justify-content: space-between;
    padding-right: 0;
    padding-left: 0;
  }
  .product-sec .product-item {
    width: 156px;
  }
}
@media (max-width: 991.98px) {
  .product-sec__list {
    justify-content: space-around;
    gap: 10px;
    row-gap: 24px;
  }
  .product-sec .product-item {
    width: 156px;
  }
}
@media (max-width: 767.98px) {
  .product-sec__tabs {
    -moz-column-gap: 24px;
         column-gap: 24px;
  }
}
@media (max-width: 575.98px) {
  .product-sec__tabs.flickity-enabled {
    display: block;
  }
  .product-sec__tabs .flickity-viewport {
    overflow: visible;
  }
  .product-sec__tab {
    margin-right: 8px;
  }
  .product-sec__actions .button {
    width: 100%;
    max-width: 100%;
  }
  .product-sec__payment {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 60px;
    gap: 8px;
  }
  .product-sec__payment .amount {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
    width: 100%;
  }
  .product-sec__payment .amount .text__16 {
    font-size: 12px;
  }
  .product-sec__payment .amount .text__20 {
    font-size: 16px;
  }
  .product-sec__payment .button {
    width: 100%;
    max-width: 100%;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.product-item__pic {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  aspect-ratio: 156/160;
}
.product-item__pic .add-item {
  left: 6px;
  bottom: 7px;
}
.product-item__content {
  display: flex;
  flex-direction: column;
}
.product-item__content .text__left {
  margin-right: auto;
  text-align: left;
}

.fixed-images {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
}

.add-item {
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  z-index: 2;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}
.add-item__plus {
  margin-top: -2px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-item__minus {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.add-item__minus.trash {
  margin-left: -5px;
}
.add-item.opened {
  display: flex;
  align-items: center;
  background-color: #48FDBC;
  width: 96px;
  border-radius: 60px;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 12px;
}

@media (max-width: 575.98px) {
  .bellshop-page .container {
    padding-right: 16px;
    padding-left: 16px;
  }
  .bellshop-page .row {
    margin-right: -16px;
    margin-left: -16px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .bellshop-page .col-12 {
    padding-right: 0;
    padding-left: 0;
  }
}
.alert-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 48px;
  border: 2px solid #000;
  border-radius: 16px;
}
.alert-item.yellow {
  background-color: #FFFF00;
}
.alert-item.yellow .button {
  background-color: #fff;
  padding-right: 10px;
  padding-left: 6px;
  padding-top: 0;
  padding-bottom: 0;
  height: 32px;
  gap: 0;
}
.alert-item.yellow .button:hover {
  color: #000;
}
.alert-item__left {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media (max-width: 575.98px) {
  .alert-item {
    padding: 24px 32px;
  }
  .alert-item__left {
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }
}

.simple-page {
  min-height: 79vh;
}
.simple-page__succes-msg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10px;
  margin-bottom: 64px;
  margin-top: 24px;
}
.simple-page__succes-msg .button {
  margin-right: auto;
  margin-top: 14px;
  margin-left: auto;
}

.order-page .content {
  min-height: 79.1vh;
}
.order-page__header {
  padding-bottom: 24px;
  border-bottom: 2px solid #000;
  margin-bottom: 24px;
}
.order-page__header .main-title {
  text-align: center;
}
.order-page__header .top {
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
}
.order-page__steps {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.order-page__steps::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 100%;
  z-index: -1;
  background-color: #000;
}
.order-page__steps .step-item {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 4px;
  background-color: #fff;
}
.order-page__steps .step-item span {
  background-color: #fff;
  min-width: 32px;
  height: 24px;
  border: 2px solid #000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 24px;
  padding-left: 10px;
  text-align: center;
  padding: 0 10px;
}
.order-page__steps .step-item .number {
  padding-top: 2px;
}
.order-page__steps .step-item.active span {
  background-color: #000;
  color: #fff;
}
.order-page__steps .step-item.checked span {
  padding-top: 0;
  background-color: #48FDBC;
}
.order-page__content {
  margin-bottom: 40px;
}
.order-page__content .desc {
  margin-bottom: 24px;
}
.order-page__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.order-page__back {
  width: 57px;
  height: 57px;
  border-radius: 50%;
  padding: 0;
}
.order-page__add-loc {
  display: flex;
  align-items: center;
  justify-content: center;
}
.order-page__add-loc a {
  display: flex;
  align-items: center;
  gap: 12px;
}
.order-page__add-loc a:hover {
  color: #000;
}
.order-page__pos {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.order-page__pos button {
  background: unset;
  border: unset;
  display: flex;
  align-items: center;
  color: #1F2024;
  gap: 8px;
  transition: all 0.2s linear;
}
.order-page__pos button:hover {
  color: #000;
}
@media (max-width: 991.98px) {
  .order-page footer {
    display: none;
  }
  .order-page header {
    display: none;
  }
  .order-page .content {
    margin-top: 16px;
    margin-bottom: 0;
    margin-bottom: 16px;
  }
  .order-page__header .top {
    justify-content: space-between;
    margin-bottom: 24px;
  }
}
@media (max-width: 575.98px) {
  .order-page__footer .product-sec__payment {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .order-page__footer .amount {
    margin-bottom: 6px;
  }
  .order-page__back {
    order: 2;
    width: 57px !important;
    height: 57px;
  }
  .order-page .button:not(.order-page__back) {
    order: 3;
    max-width: calc(100% - 24px - 57px);
  }
}

.only-phone {
  display: none;
}
@media (max-width: 991.98px) {
  .only-phone {
    display: flex;
  }
}

.order-item {
  border: 2px solid #000;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}
.order-item__content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.order-item__content .price {
  display: flex;
  align-items: center;
  color: #1F2024;
  gap: 8px;
}
.order-item__content .price span.offed {
  text-decoration: line-through;
  color: #97A0A8;
}
.order-item__content .off {
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  border-radius: 24px;
  padding-top: 2px;
  background-color: #EE283B;
}
.order-item__number {
  display: flex;
  align-items: center;
}
.order-item__number .add-item {
  left: unset;
  top: unset;
  transform: unset;
  position: unset;
  background-color: #fff;
}
.order-item--sm {
  padding-top: 16px;
  padding-bottom: 16px;
}
.order-item.checked {
  background-color: #E6FFF6;
}
.order-item.remove-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F5F6F7;
  gap: 12px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 96px;
}

@media (max-width: 991.98px) {
  .phone-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    padding-bottom: 24px;
    padding-top: 16px;
  }
}

.input-item {
  border: 2px solid #000;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}
.input-item.checked {
  background-color: #E6FFF6;
}
.input-item__input {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 24px;
}
.input-item__input input {
  opacity: 0;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.input-item__input input:checked + span::before {
  opacity: 1;
}
.input-item__input span {
  pointer-events: none;
  transition: all 0.2s linear;
  width: 24px;
  height: 24px;
  display: flex;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.input-item__input span::before {
  content: "";
  width: 16px;
  transition: all 0.2s linear;
  opacity: 0;
  height: 16px;
  display: flex;
  border-radius: 50%;
  border: 2px solid #000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #48FDBC;
}
.input-item__content {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.input-item__content .title {
  display: flex;
  align-items: center;
  gap: 8px;
}
.input-item__content .tag {
  padding: 1px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  height: 19px;
  background-color: #fff;
}
.input-item--sm {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (min-width: 992px) {
  .container--sm .container {
    max-width: 744px;
  }
}
.align-item-center {
  align-items: center;
}

.time__list {
  padding-right: 24px;
}
.time__list.pr-0 {
  padding-right: 0;
}

.factor-list {
  margin-top: -24px;
}
.factor-list__time {
  padding-bottom: 36px !important;
  background: url("../img/v-border-5.svg");
  background-position: center bottom;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.factor-list__time .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.factor-list__time img {
  margin-left: 6px;
}
.factor-list > div {
  padding: 24px 32px;
}
.factor-list > div.yellow {
  background-color: #FFFF00;
}
.factor-list > div.green {
  background-color: #48FDBC;
}
.factor-list > div.gray {
  background-color: #F5F6F7;
}
.factor-list .left {
  margin-right: auto;
}
.factor-list__total {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #000;
  gap: 16px;
}
.factor-list__total div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.factor-list__coupon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  border-bottom: 2px solid #000;
}
.factor-list__coupon a:hover {
  color: #000;
}
.factor-list__cancel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border-bottom: 2px solid #000;
}
.factor-list__cancel a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.factor-list__cancel a:hover {
  color: #000;
}
@media (max-width: 991.98px) {
  .factor-list > div {
    padding: 24px;
  }
}
@media (max-width: 575.98px) {
  .factor-list > div {
    padding: 24px;
    width: 100vw;
    margin-right: -24px;
  }
}

.factor-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #000;
}
.factor-item .tag {
  padding: 1px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  width: -moz-max-content;
  width: max-content;
  height: 19px;
  background-color: #E9ECEF;
  margin-top: 4px;
}
.factor-item__title {
  display: flex;
  flex-direction: column;
}
.factor-item__price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}
.factor-item__price .offed {
  display: flex;
  align-items: center;
  gap: 4px;
}
.factor-item__price .offed span:not(.off) {
  text-decoration: line-through;
  color: #97A0A8;
  display: flex;
}
.factor-item__price .off {
  padding-right: 4px;
  padding-left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16px;
  border-radius: 24px;
  padding-top: 2px;
  background-color: #EE283B;
  color: #fff;
}

.pb-0 {
  padding-bottom: 0 !important;
}/*# sourceMappingURL=inpage.css.map */