@mixin respond-to($breakpoint) {
    @if $breakpoint==sm {
        @media (max-width: 575.98px) {
            @content;
        }
    }

    @else if $breakpoint==md {
        @media (max-width: 767.98px) {
            @content;
        }
    }

    @else if $breakpoint==lg {
        @media (max-width: 991.98px) {
            @content;
        }
    }

    @else if $breakpoint==xl {
        @media (max-width: 1199.98px) {
            @content;
        }
    }

    @else if $breakpoint==xxl {
        @media (max-width: 1399.98px) {
            @content;
        }
    }
}

.inpage {

    header {
        border-bottom: 1px solid #000;
    }

    .content {
        margin-top: 32px;
        margin-bottom: 64px;
    }

    @include respond-to(lg) {
        border-bottom: unset;
    }
}

.simple-page {
    padding-right: 32px;
    padding-left: 32px;

    &__header {
        display: flex;
        justify-content: center;
        align-content: baseline;
        margin-bottom: 24px;
    }

    @include respond-to(lg) {
        padding-right: 0;
        padding-left: 0;
    }
}

.button {
    &.desctive {
        opacity: .2;
        cursor: none;
    }
}

.about-page {
    &.content {
        margin-top: 0;
    }

    &__pic {
        margin-top: 40px;
        margin-bottom: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.our-branch {
    .simple-page {
        &__content {
            padding-right: 32px;
            padding-left: 32px;
        }
    }

    .about-page {
        &__info {
            align-items: unset;
            gap: 16px;
            margin-bottom: 32px;

            .bordered {
                width: 2px;
                background: #000;
                height: unset;
            }
        }

        &__map {
            .map {
                aspect-ratio: 1/1;
                width: 656px;
                max-width: 100%;
                height: auto;

                img {
                    min-width: 100%;
                }
            }
        }
    }

    &__seperate {
        height: 140px;

        .seperate {
            height: 100%;
            background-image: url("../img/v-border-5.svg");
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    @include respond-to(lg) {
        &__seperate {
            position: relative;

            .seperate {
                position: absolute;
                width: 100vw;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .simple-page {
            padding-right: 0px;
            padding-left: 0px;

            &__content {
                padding-right: 0px;
                padding-left: 0px;
            }
        }
    }

    @include respond-to(sm) {
        .about-page {
            &__info {
                display: flex;
                flex-direction: column;
                gap: 32px;

                .bordered {
                    width: 100%;
                    height: 2px;
                }
            }

        }
    }
}

.guide-start {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__pic {
        position: relative;
        margin-bottom: 18px;

        img {
            width: 72px;
            height: 72px;
            border-radius: 50%;
            overflow: hidden;
        }

        .notif {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: 4px solid #fff;
            position: absolute;
            background-color: #48FDBC;
            left: 0;
            top: 0;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 24px;

        .label {
            margin-right: auto;
            margin-left: auto;

            &::before {
                height: 4px;
                top: 68%;
            }
        }
    }

    &__actions {
        display: flex;
        justify-content: center;
        align-items: center;

        .button {
            width: 166px;
        }
    }
}

.question-item {
    border: unset;
    border-radius: 0;

    &:not(:last-child) {
        border-bottom: 2px solid #000;
    }

    .card-header {
        background-color: #fff;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: unset;
        gap: 10px;

        @include respond-to(sm) {
            padding: 16px;
        }
    }

    .arrow {
        flex-shrink: 0;
    }

    .card-body {
        margin: 0;
        padding: 0;
        padding-right: 16px;
        padding-left: 16px;
        margin-bottom: 16px;
    }

    &__title {
        button {
            background-color: unset;
            border: none;
            outline: unset !important;
            text-align: right;
        }
    }

    &__content {}

    .reverse {
        transform: rotate(180deg);
    }

    @include respond-to(lg) {

        .card-header,
        .card-body {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.faq {
    &__questions {
        padding-right: 32px;
        padding-left: 32px;
    }

    .our-branch {
        &__seperate {
            height: 80px;
        }
    }

    @include respond-to(lg) {
        &__questions {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.bell-guide-page {
    .container {
        max-width: 744px;
    }

    .our-branch {
        &__seperate {
            margin-top: 24px;
            margin-bottom: 24px;
        }

        &__guide-start {
            margin-bottom: 56px;
        }
    }

    &__header {
        margin-bottom: 56px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.support-page {
    &__body {
        padding-bottom: 0 !important;

        .main-menu {
            display: none !important;
        }

    }
}

.support {
    margin-top: 0;

    &-page {
        background-color: #F5F6F7;

        .main-menu {
            margin-bottom: 0;

        }

        .content {
            margin-top: 0 !important;

            .container {
                width: 768px;
                min-height: 100%;
                display: flex;
                align-items: flex-end;

                .row {
                    width: 100%;
                }
            }
        }

        header {
            background-color: #fff;
        }
    }

    &-header {
        display: flex;
        align-items: center;
        padding: 20px 0;
        gap: 32px;

        &__content {
            display: flex;
            flex-direction: row;
            gap: 16px;

            .title {
                color: #000000;
            }

            .time {
                color: #344054;
            }

        }
    }

    &__voice {
        background: #48FDBC;
        border-top: 2px solid #000;
        border-bottom: 2px solid #000;
    }

    &-voice {
        display: flex;
        align-items: center;
        height: 40px;
        gap: 32px;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            background: unset;
            border: unset;
            padding: 0;
            margin: 0;
        }

        &__speed {
            border-radius: 4px;
            border: 1.5px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 4px 4px;
            width: 24px;
            height: 20px;
            opacity: 0.3;
        }

        &__stat {
            margin-right: auto;
        }
    }

    &__content {


        .scrollbar {
            padding-top: 40px;
            height: calc(100vh - 274px);
        }


    }

    &-textarea {
        position: relative;

        max-width: 100vw;
        width: 100%;
        border: 2px solid #000;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;

        textarea {
            border-bottom: unset;
            width: 100%;
            border-radius: 16px 16px 0 0;
            height: 72px;
            padding: 24px 24px;
            padding-right: 72px;

            border: unset;
            resize: none;
            color: #000;
        }

        .voice {
            position: absolute;
            right: 24px;
            top: 50%;
            transform: translateY(-50%);
            background: unset;
            border: unset;
        }
    }

    &__textarea {
        position: fixed;
        bottom: 27px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__chat {
        display: flex;
        flex-direction: column;
        padding-right: 16px;
        padding-left: 16px;
        justify-content: flex-end;
    }

    &__chat {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;

        .chat-item {
            &:last-child {
                margin-bottom: 32px;
            }
        }
    }

    @include respond-to(lg) {
        &-page {
            footer {
                display: none;
            }

            .header,
            .main-menu {
                display: none !important;
            }

            .container {
                max-width: 100vw;
            }

            .row {
                margin-right: auto;
                margin-left: auto;
            }
        }

        &__chat {
            padding-right: 0;
            padding-left: 0;
        }

        &__content {
            .scrollbar {
                padding-top: 40px;
                height: calc(100vh - 220px);
            }
        }

        &__textarea {
            bottom: 0px;

            .container {
                padding-right: 0;
                padding-left: 0;
                max-width: 100vw;
            }

            .row {
                margin-right: 0;
                margin-left: 0;
                width: 100%;
            }

            .col-12 {
                padding-right: 0;
                padding-left: 0;
            }
        }
    }

    @include respond-to(sm) {
        &-page {

            .col-12 {
                margin-right: auto;
                margin-left: auto;
                padding-right: 0;
                padding-left: 0;
            }
        }

        &__textarea {
            width: 100vw;
            padding-right: 0;
            padding-left: 0;
        }

        &__content {
            .scrollbar {
                padding-top: 40px;
                height: calc(100vh - 125px);
                padding-bottom: 100px;
            }
        }

        &__chat {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.support-textarea {
    &.active {
        textarea {
            padding-right: 144px;

            @include respond-to(lg) {
                padding-right: 109px;
            }
        }

        &>span {
            position: absolute;
            left: 24px;
            top: 50%;
            transform: translateY(-50%);
            display: flex;
            align-items: center;
            gap: 14px;
            padding-left: 4px;
            color: #000;

            .circle {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #FF0000;
            }
        }

        .voice {
            width: 113px;
            height: 113px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: #48FDBC;
            border: 2px solid #000;
            right: -20px;
            bottom: -20px;

            @include respond-to(lg) {
                width: 91px;
                height: 91px;
                right: -12px;
                bottom: -12px;
            }

        }
    }
}

.chat-item {
    background-color: #fff;
    border: 2px solid #000;
    width: 269px;
    padding: 12px 16px;
    padding-bottom: 4px;
    border-radius: 12px;

    &__time {
        color: #00B673 !important;
    }

    &.right {
        margin-left: auto;
        background-color: #E6FFF6;
    }

    &.left {
        margin-right: auto;
    }

    .plyr__controls__item {
        width: 48px;
        height: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .audio {
        margin-bottom: -18px;
    }

    .audio .plyr__controls {
        padding: 0 !important;
        background: unset !important;
        border: unset !important;
    }

    .audio .plyr {
        border: unset;
        background: unset;
    }

    .plyr__controls__item.plyr__control {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background: #48FDBC;
        border: 2px solid #000;
        display: flex;

        svg {
            color: #000;
        }
    }

    .plyr__controls__item.plyr__progress__container {
        padding-left: 15px;
    }

    input {
        background-color: #000000;
        height: 1px !important;
        opacity: 0;
    }

    .audio .plyr--audio .plyr__progress__buffer {
        background-color: #000000;
        height: 1px;
    }

    .plyr__controls__item.plyr__time--current.plyr__time {
        position: absolute;
        bottom: -17px;
        left: 50px;
        font-size: 8px;
        color: #00B673;
    }

}

.date-item {
    background: #000000;
    padding: 2px 12px;
    height: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
}

.banners {
    margin-bottom: 64px;

    .flickity-page-dots {
        bottom: -40px;
    }

    &__slider {}

    &__cell {
        margin-right: 24px;
        margin-left: 24px;
        width: calc(50% - 24px);
    }

    &__item {
        position: relative;
        border-radius: 16px;
        overflow: hidden;
    }

    &__content {
        position: absolute;
        padding: 2px 12px;
        background-color: rgba($color: #000000, $alpha: 0.7);
        border-radius: 12px;
        bottom: 42px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        max-width: calc(100% - 48px);

        span {
            min-width: max-content;
            display: block;
        }
    }

    &__pic {
        width: 100%;
        aspect-ratio: 456/228;
    }

    @include respond-to(lg) {
        &__cell {
            width: 100%;
        }
    }

    @include respond-to(sm) {
        &__content {
            span {
                font-size: 20px;
            }
        }
    }
}

.bellshop-page {
    margin-top: 15px !important;

    &__header {
        margin-bottom: 24px;
    }

    .alert-item {
        margin-top: 80px;
        margin-bottom: 80px;
    }

    @include respond-to(lg) {
        .alert-item {
            margin-top: 48px;
            margin-bottom: 48px;
        }
    }
}

.product-sec {
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 48px;
        margin-bottom: 56px;
    }

    &__tab {
        position: relative;
        width: 76px;
        text-align: center;

        a {
            display: flex;
            border-radius: 50px 50px 12px 12px;
            flex-direction: column;
            padding: 0px;
            padding-bottom: 12px;
            padding-top: 20px;
            border: 2px solid transparent;
            gap: 8px;

            &.active {
                border-color: #000;
                background-color: #48FDBC;
            }

            &:hover {
                color: #000;
                border-color: #000;
                background-color: #48FDBC;
            }
        }

        img {
            height: 32px;
        }


    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        padding-right: 42px;
        padding-left: 42px;

        .product-item {
            width: 156px;
        }
    }

    &__actions {
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__payment {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 64px;

        .amount {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        .button {
            max-width: 240px;
        }
    }

    @include respond-to(xl) {
        &__list {
            justify-content: space-between;
            padding-right: 0;
            padding-left: 0;
        }

        .product-item {
            width: 156px;
        }
    }

    @include respond-to(lg) {
        &__list {
            justify-content: space-around;
            gap: 10px;
            row-gap: 24px;
        }

        .product-item {
            width: 156px;
        }

    }

    @include respond-to(md) {
        &__tabs {
            column-gap: 24px;
        }
    }

    @include respond-to(sm) {
        &__tabs {
            &.flickity-enabled {
                display: block;
            }

            .flickity-viewport {
                overflow: visible;
            }
        }

        &__tab {
            margin-right: 8px;
        }

        &__actions {
            .button {
                width: 100%;
                max-width: 100%;
            }
        }

        &__payment {
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 60px;
            gap: 8px;

            .amount {
                display: flex;
                align-items: center;
                gap: 24px;
                justify-content: space-between;
                width: 100%;

                .text__16 {
                    font-size: 12px;
                }

                .text__20 {
                    font-size: 16px;
                }
            }

            .button {
                width: 100%;
                max-width: 100%;
            }
        }
    }
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &__pic {
        position: relative;
        border-radius: 12px;
        overflow: hidden;
        aspect-ratio: 156/160;

        .add-item {
            left: 6px;
            bottom: 7px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        .text {
            &__left {
                margin-right: auto;
                text-align: left;
            }
        }
    }
}

.fixed-images {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.add-item {
    position: absolute;
    border-radius: 50%;
    background-color: #fff;
    z-index: 2;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;

    &__plus {
        margin-top: -2px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    &__minus {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        &.trash {
            margin-left: -5px;
        }

        img {}
    }

    &.opened {
        display: flex;
        align-items: center;
        background-color: #48FDBC;
        width: 96px;
        border-radius: 60px;
        justify-content: space-between;
        padding-right: 12px;
        padding-left: 12px;
    }
}

@include respond-to(sm) {
    .bellshop-page {
        .container {
            padding-right: 16px;
            padding-left: 16px;
        }

        .row {
            margin-right: -16px;
            margin-left: -16px;
            padding-right: 16px;
            padding-left: 16px;
        }

        .col-12 {
            padding-right: 0;
            padding-left: 0;
        }
    }
}

.alert-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 48px;
    border: 2px solid #000;
    border-radius: 16px;

    &.yellow {
        background-color: #FFFF00;

        .button {
            background-color: #fff;
            padding-right: 10px;
            padding-left: 6px;
            padding-top: 0;
            padding-bottom: 0;
            height: 32px;
            gap: 0;

            &:hover {
                color: #000;
            }
        }

    }

    &__left {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    @include respond-to(sm) {
        padding: 24px 32px;

        &__left {
            flex-direction: column;
            align-items: flex-end;
            gap: 10px;
        }
    }
}

.simple-page {
    min-height: 79vh;

    &__succes-msg {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 10px;
        margin-bottom: 64px;
        margin-top: 24px;

        .button {
            margin-right: auto;
            margin-top: 14px;
            margin-left: auto;
        }
    }
}

.order-page {


    .content {
        min-height: 79.1vh;
    }

    &__header {
        padding-bottom: 24px;
        border-bottom: 2px solid #000;
        margin-bottom: 24px;

        .main-title {
            text-align: center;
        }

        .top {
            margin-bottom: 24px;
            display: flex;
            justify-content: center;
        }
    }

    &__steps {
        display: flex;
        align-items: center;
        position: relative;
        justify-content: space-between;

        &::before {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            height: 2px;
            width: 100%;
            z-index: -1;
            background-color: #000;
        }

        .step-item {
            position: relative;
            z-index: 2;
            display: flex;
            align-items: center;
            gap: 4px;
            background-color: #fff;

            span {
                background-color: #fff;
                min-width: 32px;
                height: 24px;
                border: 2px solid #000;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 24px;
                padding-left: 10px;
                text-align: center;
                padding: 0 10px;

            }

            .number {
                padding-top: 2px;
            }

            &.active {
                span {
                    background-color: #000;
                    color: #fff;
                }
            }

            &.checked {
                span {
                    padding-top: 0;
                    background-color: #48FDBC;
                }
            }
        }
    }

    &__content {
        margin-bottom: 40px;

        .desc {
            margin-bottom: 24px;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__footer {}

    &__back {
        width: 57px;
        height: 57px;
        border-radius: 50%;
        padding: 0;
    }

    &__add-loc {
        display: flex;
        align-items: center;
        justify-content: center;

        a {
            display: flex;
            align-items: center;
            gap: 12px;

            &:hover {
                color: #000;
            }
        }
    }

    &__pos {
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px;

        button {
            background: unset;
            border: unset;
            display: flex;
            align-items: center;
            color: #1F2024;
            gap: 8px;
            transition: all .2s linear;

            &:hover {
                color: #000;
            }
        }
    }

    @include respond-to(lg) {
        footer {
            display: none;
        }

        header {
            display: none;
        }

        .content {
            margin-top: 16px;
            margin-bottom: 0;
            margin-bottom: 16px;
        }

        &__header {
            .top {
                justify-content: space-between;
                margin-bottom: 24px;
            }
        }
    }

    @include respond-to(sm) {
        &__footer {
            .product-sec {
                &__payment {
                    flex-direction: row;
                    flex-wrap: wrap;
                }
            }

            .amount {
                margin-bottom: 6px;
            }
        }

        &__back {
            order: 2;
            width: 57px !important;
            height: 57px;


        }

        .button:not(.order-page__back) {
            order: 3;
            max-width: calc(100% - 24px - 57px);
        }
    }

}

.only-phone {
    display: none;

    @include respond-to(lg) {
        display: flex;
    }
}

.order-item {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    justify-content: space-between;

    &__content {
        display: flex;
        flex-direction: column;
        gap: 4px;

        .price {
            display: flex;
            align-items: center;
            color: #1F2024;
            gap: 8px;

            span.offed {
                text-decoration: line-through;
                color: #97A0A8;
            }
        }

        .off {
            padding-right: 4px;
            padding-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 16px;
            border-radius: 24px;
            padding-top: 2px;
            background-color: #EE283B;
        }
    }

    &__number {
        display: flex;
        align-items: center;

        .add-item {
            left: unset;
            top: unset;
            transform: unset;
            position: unset;
            background-color: #fff;
        }
    }

    &--sm {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &.checked {
        background-color: #E6FFF6;
    }

    &.remove-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F5F6F7;
        gap: 12px;
        padding-top: 16px;
        padding-bottom: 16px;
        height: 96px;
    }
}

.phone-footer {
    @include respond-to(lg) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        padding-bottom: 24px;
        padding-top: 16px;
    }
}

.input-item {
    border: 2px solid #000;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    gap: 16px;
    margin-bottom: 24px;

    &.checked {
        background-color: #E6FFF6;
    }

    &__input {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 24px;

        input {
            opacity: 0;
            width: 24px;
            height: 24px;
            display: flex;
            border-radius: 50%;
            border: 2px solid #000;
            position: absolute;
            left: 50%;
            top: 50%;
            z-index: 2;
            transform: translate(-50%, -50%);
            cursor: pointer;

            &:checked+span {
                &::before {
                    opacity: 1;
                }
            }
        }

        span {
            pointer-events: none;
            transition: all .2s linear;
            width: 24px;
            height: 24px;
            display: flex;
            border-radius: 50%;
            border: 2px solid #000;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            &::before {
                content: "";
                width: 16px;
                transition: all .2s linear;
                opacity: 0;
                height: 16px;
                display: flex;
                border-radius: 50%;
                border: 2px solid #000;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: #48FDBC;
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: 6px;

        .title {
            display: flex;
            align-items: center;
            gap: 8px;
        }

        .tag {
            padding: 1px 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px;
            height: 19px;
            background-color: #fff;
        }
    }

    &--sm {
        padding-top: 16px;
        padding-bottom: 16px;
    }
}

@media (min-width:992px) {
    .container--sm {
        .container {
            max-width: 744px;
        }
    }
}

.align-item-center {
    align-items: center;
}

.time {
    &__list {
        padding-right: 24px;

        &.pr-0 {
            padding-right: 0;
        }
    }
}

.factor-list {
    margin-top: -24px;

    &__time {
        padding-bottom: 36px !important;
        background: url('../img/v-border-5.svg');
        background-position: center bottom;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        img {
            margin-left: 6px;
        }
    }

    &>div {
        padding: 24px 32px;

        &.yellow {
            background-color: #FFFF00;
        }

        &.green {
            background-color: #48FDBC;
        }

        &.gray {
            background-color: #F5F6F7;
        }
    }

    .left {
        margin-right: auto;
    }

    &__total {
        display: flex;
        flex-direction: column;
        border-bottom: 2px solid #000;
        gap: 16px;

        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__coupon {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
        border-bottom: 2px solid #000;

        a {
            &:hover {
                color: #000;
            }
        }
    }

    &__cancel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;
        border-bottom: 2px solid #000;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            &:hover {
                color: #000;
            }
        }
    }

    @include respond-to(lg) {
        &>div {
            padding: 24px;
        }
    }

    @include respond-to(sm) {
        &>div {
            padding: 24px;
            width: 100vw;
            margin-right: -24px;
        }
    }
}

.factor-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #000;

    .tag {
        padding: 1px 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
        width: max-content;
        height: 19px;
        background-color: #E9ECEF;
        margin-top: 4px;
    }

    &__title {
        display: flex;
        flex-direction: column;
    }

    &__price {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2px;

        .offed {
            display: flex;
            align-items: center;
            gap: 4px;

            span:not(.off) {
                text-decoration: line-through;
                color: #97A0A8;
                display: flex;
            }

        }

        .off {
            padding-right: 4px;
            padding-left: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 16px;
            border-radius: 24px;
            padding-top: 2px;
            background-color: #EE283B;
            color: #fff;
        }
    }
}

.pb-0 {
    padding-bottom: 0 !important;
}